.header-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#carousel-home .owl-carousel .owl-slide,
#carousel-home-2 .owl-carousel .owl-slide {
  height:100vh !important;
  position:relative
}